.platforms-container {
    display: flex;
    justify-content: center;
    align-items: center;

    
    .platforms-section {
        width: 70%;
        display: flex;
        overflow: hidden;
        
        .platform-container {
            padding-inline: 2rem;
            padding-block: 1rem;
            width: 200px;
            text-align: center;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ddd;
            background-color: #222;
           
            &:hover {
                background-color: #333;
            }

            &.crunchy:hover {
                color: #ff640a;
            }

            &.crunchy.active {
                color: #ff640a;
            }
            
            &.HBO:hover {
                color: #44c;
            }

             &.HBO.active {
                color: #44c;
            }

            &.active {
                background-color: #444;
            }
        }
    }
}