:host {
  --navbar-height: 4rem;
  --white: #ffffff;
  --main-gray: #a0a0a0;
  --dark-gray: #2d2e2e;
}

.chat-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--navbar-height));
  width: 100%;

  .side-chat {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #221e1e;
  }
  .main-chat {
    width: 70%;
    background-color: #252525;
  }
}
