<div class="root-container">
  <header class="main-header">
    <navbar />
  </header>
  <main class="main">
    <landing-banner [bannerInput]="bannerChangeDealer()" />
    <plats-explorer (changeBanner)="receiveBannerNameChange($event)"></plats-explorer>
    <div class="banner-carousel">
      <carousel [cards]="cards()" [maxShowedCards]="5">
          <ng-template let-cardInfo>
            <custom-card (click)="updateModalInfo(cardInfo)" [card]="cardInfo"></custom-card>
          </ng-template>
        </carousel>
    </div>
    <div class="best-offers-carousel">
      <div class="carousel-title-container">
        <span>Best Offers</span>
      </div>
        <carousel [cards]="cards()" [maxShowedCards]="5">
          <ng-template let-cardInfo>
            <custom-card (click)="updateModalInfo(cardInfo)" [card]="cardInfo"></custom-card>
          </ng-template>
        </carousel>
    </div>
    <div class="apps-carousel">
      <div class="carousel-title-container">
        <span>Direct Apps</span>
      </div>
      <carousel [cards]="cards()" [maxShowedCards]="5">
          <ng-template let-cardInfo>
            <custom-card [mode]="'simple'" [card]="cardInfo"></custom-card>
          </ng-template>
        </carousel>
    </div>
  </main>
  <footer class="main-footer"><landing-footer /></footer>
</div>

<card-modal [cardInfo]="modalInfo()" [showModal]="showModal()" (hideModal)="hideModal()"/>
