.root-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  & .main-header {
    background-color: #23252b;
  }

  & .main {
    background-color: rgba(0, 0, 0, 0.8);
  }

  & .main-footer {
    background-color: aquamarine;
  }

}
