.root-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  & .main-header {
    background-color: #23252b;
  }

  & .main {
    background-color: #111;
  }

  & .main-footer {
    background-color: aquamarine;
  }
  & .banner-carousel {
    background-color: #f5f5dc;
    padding-bottom: 20px;
  }
  & .best-offers-carousel, .apps-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    & .container {
      width: 70%;
      & span {
        font: 1.6rem "metropolis", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 32px;
      }
    }

  }
  .best-offers-carousel{
    background-color: #e0e0c0;

  }
  & .apps-carousel {
    background-color: #f5f5dc;
  }
}
