:host {
  --social-icons-size: 50px;
  --columns-per-row: 4;
  --total-rows: 1;

}

@media (max-width: 900px) {
  :host {
    --columns-per-row: 2;
    --total-rows: 2;
  }
}

.footer-main {
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;

  & .footer-container {
    width: 70%;
    margin-top: 20px;

    @media (max-width: 900px) {
      width: 90%;
    }

    & .section-container {
      display: grid;
      grid-template-columns: repeat(var(--columns-per-row), 1fr);
      grid-gap: 0px;
      grid-template-rows: repeat(var(--total-rows), 1fr);
      min-height: 200px;
      row-gap: 20px;

      & .footer-section {
        text-align: center;

        & .list-title {
          font-size: larger;
          font-weight: 600;
        }

        /* This is for the social section only*/
        & .social-section {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 20px;

          & .social-icon {
            max-height: 50px;
            text-align: left;


            & svg {
              display: block;
              width: var(--social-icons-size);
            }
          }
        }

        /* This is for the social section only*/
      }

      & .footer-section {

        & > .section-content {
          margin-top: 1rem;
          height: 80px;
        }

      }


      & .copyright-container {
        text-align: center;
        grid-area: calc(var(--total-rows) + 1) / 1 / calc(var(--total-rows) + 2) / calc(var(--columns-per-row) + 1);
        padding-bottom: 5px;
      }
    }
  }
}