.footer-main {
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;

  & .footer-container {
    width: 70%;
    margin-top: 20px;

    & .section-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 0.2fr;
      grid-gap: 0px;

      & .footer-section {
        min-height: 200px;

        & .list-title {
          font-size: larger;
          font-weight: 600;
          text-align: center;
        }
        /* This is for the social section only*/
        & .social-section {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          margin-top: 40px;
          gap: 20px;

          & .social-icon {
            max-height: 50px;
            text-align: left;

            & svg {
              display: block;
            }
          }
        }
        /* This is for the social section only*/
      }
      & .footer-section:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }
      & .footer-section:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
      & .footer-section:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }
      & .footer-section:nth-child(4) {
        grid-area: 1 / 4 / 2 / 5;
      }
      & .copyright-container {
        text-align: center;
        grid-area: 2 / 1 / 3 / 5;
      }
    }
  }
}
